@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

$mainFont: 'Edu VIC WA NT Beginner', cursive;
$secondaryFont: 'Bangers', cursive;

$textLg: 3em;
$textMd: 2em;
$textSm: 1em;