
.catalogo{
    	margin-left: 30px;
        display: flex;

        figure{
        text-align: center;
    	}

    	.imgCat{
        width: 200px;
        height: 200px;
        margin-left: 30px;
    	}
}
